<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>

    <title>My Linkcurtailment App</title>
        <style>
            h1{
                font-size: 300%;
                margin-top: 15%;
            }
            body{
                background-color: rgb(233, 233, 233);
            }
        </style>
</head>
<body>
 
    <div class="jumbotron text-center">
        <!-- <p> -->
            <h1>
                PLEASE ENTER A LINK TO GET RESULT !!!
            </h1>
        <!-- </p> -->
        <br>
        <form action="/" method="POST">
            <button type="submit" class="btn btn-info">Home Page</button>
        </form>
    </div>

</body>
<script src="index.js"></script>
</html>



<!-- Jeandidier97 -->